<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Bill NO</th>
                <th>Date</th>
                <th>Bank Name</th>
                <th>Policy Holder</th>
                <th>Address</th>
                <th>Sum Insured</th>
                <th>Stock Insured</th>
                <th>Interest Insured</th>
                <th>Used As</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let pol of policyes | async; let number = index">
                <td>{{ number + 1 }}</td>
                <td>{{ pol.billNo }}</td>
                <td>{{ pol.date }}</td>
                <td>{{ pol.bankName }}</td>
                <td>{{ pol.policyholder }}</td>
                <td>{{ pol.address }}</td>
                <td>{{ pol.sumInsured }}</td>
                <td>{{ pol.stockInsured }}</td>
                <td>{{ pol.interestInsured }}</td>
                <td>{{ pol.usedAs }}</td>
                <td>
                    <button class="btn btn-warning btn-sm" (click)="editPolicy(pol.id)">Edit</button>
                </td>
                <td>
                    <button class="btn btn-danger btn-sm" (click)="deletePolicy(pol.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
