<div>
<table class="table table-striped">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>City</th>
        <th>State</th>
        <th>Photo</th>
        <th>Unit</th>
        <th>wifi</th>
        <th>Laundry</th>
    </tr>

<tr *ngFor="let s of local |async">
    <td>{{s.id}}</td>
    <td>{{s.name}}</td>
    <td>{{s.city}}</td>
    <td>{{s.state}}</td>
    <td>{{s.photo}}</td>
    <td>{{s.availableUnits}}</td>
    <td>{{s.wifi}}</td>
    <td>{{s.laundry}}</td>
   
</tr>

</table>

</div>
