<div class="container p-5">
    <form id="myForm">

        <label>Name</label> <br>
        <input type="text" class="form-control" id="name"> <br>

        <label>E-mail</label> <br>
        <input type="text" class="form-control" id="email"><br>

        <label for="">Password</label> <br>
        <input type="password" class="form-control" id="password">
        <br>

        <label for="">Gender</label> <br>
        <input type="radio" name="gender" value="gender" class="form-check-input"> Male
        <input type="radio" name="gender" value="gender" class="form-check-input"> Female
        <br>

        <label for="" >Hobby</label> <br>
        <input type="checkbox" name="hobby" value="Coocking" class="form-check-input">  Coocking
        <input type="checkbox" name="hobby" value="Gerdening" class="form-check-input">  Gerdening <br>

        <label for="">Round </label><br>
        <select name="round " class="form-control" id="round">
            <option selected>Select One</option>
            <option value="55">55</option>
            <option value="56">56</option>
            <option value="58">58</option>
            <option value="59">59</option>
        </select> <br>

        <label for="">DOB</label><br>
        <input type="date" class="form-control" id="dob"> <br>


        <label for="">Address</label><br>
        <textarea class="form-control" id="address" cols="20" rows="3"></textarea><br>

        <input type="submit" value="submit" id="submit">

    </form>
</div>