<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


</head>

<body>

    <div class="container mt-5">

        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Policy Number</th>
                    <th>Bank Name</th>
                    <th>Branch Name</th>
                    <th>Account Name</th>
                    <th>Proprietor Name</th> 
                    <th>Address</th>
                    <th>Sum Insured</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let policy of policiess | async">
                    <td>{{ policy.policyNumber }}</td>
                    <td>{{ policy. bankName}}</td>
                    <td>{{ policy.branchName }}</td>
                    <td>{{ policy.shopName }}</td>
                    <td>{{ policy.proprietorName }}</td>
                    <td>{{ policy.address }}</td>
                    <td>{{ policy.sumInsured }}</td>
                    <td>
                        <button class="btn btn-warning btn-m-2 p-1" (click)="updatePolicies(policy.id)">Edit</button>
                    </td>
                    <td>
                        <button class="btn btn-danger btn- m-2 p-1" (click)="deletePolicies(policy.id)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</body>

</html>