<div class="container mt-3">
    <form (submit)="onSearch()" class="form-inline mb-3">
      <input type="text" class="form-control mr-sm-2" placeholder="Search" [(ngModel)]="searchQuery" name="searchQuery">
      <button class="btn btn-primary" type="submit">Search</button>
    </form>
  
    <div *ngIf="searchResults.length > 0">
      <h5>Search Results:</h5>
      <ul class="list-group">
        <li *ngFor="let result of searchResults" class="list-group-item">
          <pre>{{ result | json }}</pre>
        </li>
      </ul>
    </div>
  
    <div *ngIf="searchResults.length === 0 && searchQuery">
      <p>No results found for "{{ searchQuery }}".</p>
    </div>
  </div>
  