<!-- updatepolicy.component.html -->
<div class="container d-flex justify-content-center">
    <div class="col-md-10 mb-5">
        <h3 class="text-center">
            <mat-icon>add</mat-icon>
            Policy Add Form
        </h3>
        <form [formGroup]="formValue" (ngSubmit)="createPolicy()" class="form-container">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="date" class="form-label">
                        <mat-icon>calendar_today</mat-icon>
                        Date
                    </label>
                    <input type="date" class="form-control rounded-pill shadow-sm" id="date" formControlName="date">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="bankName" class="form-label">
                        <mat-icon>account_balance</mat-icon>
                        Bank Name
                    </label>
                    <input type="text" class="form-control rounded-pill shadow-sm" id="bankName"
                        formControlName="bankName" placeholder="Enter bank name">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="policyholder" class="form-label">
                        <mat-icon>person</mat-icon>
                        Policy Holder
                    </label>
                    <input type="text" class="form-control rounded-pill shadow-sm" id="policyholder"
                        formControlName="policyholder" placeholder="Enter policyholder name">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="address" class="form-label">
                        <mat-icon>home</mat-icon>
                        Address
                    </label>
                    <input type="text" class="form-control rounded-pill shadow-sm" id="address"
                        formControlName="address" placeholder="Enter address">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="stockInsured" class="form-label">
                        <mat-icon>inventory</mat-icon>
                        Stock Insured
                    </label>
                    <input type="text" class="form-control rounded-pill shadow-sm" id="stockInsured"
                        formControlName="stockInsured" placeholder="Enter stock Insured">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="sumInsured" class="form-label">
                        <mat-icon>attach_money</mat-icon>
                        Sum Insured
                    </label>
                    <input type="number" class="form-control rounded-pill shadow-sm" id="sumInsured"
                        formControlName="sumInsured" placeholder="Enter sum insured">
                </div>

            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="interestInsured" class="form-label">
                        <mat-icon>star</mat-icon>
                        Interest Insured
                    </label>
                    <input type="text" class="form-control rounded-pill shadow-sm" id="interestInsured"
                        formControlName="interestInsured" placeholder="Enter interest insured">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="coverage" class="form-label">
                        <mat-icon>check_box</mat-icon>
                        Coverage
                    </label>
                    <input type="text" class="form-control rounded-pill shadow-sm" id="coverage"
                        formControlName="coverage" placeholder="Enter coverage details">
                </div>
            </div>
            <div class="row">

                <div class="col-md-6 mb-3">
                    <label for="construction" class="form-label">
                        <mat-icon>business</mat-icon>
                        Construction
                    </label>
                    <select class="form-control rounded-pill shadow-sm" id="construction" formControlName="construction">
                        <option value="" disabled selected>Select construction type</option>
                        <option value="1st Class">1st Class</option>
                        <option value="2nd Class">2nd Class</option>
                        <option value="3rd Class">3rd Class</option>
                    </select>
                </div>

                <div class="col-md-6 mb-3">
                    <label for="location" class="form-label">
                        <mat-icon>place</mat-icon>
                        Location
                    </label>
                    <input type="text" class="form-control rounded-pill shadow-sm" id="location"
                        formControlName="location" placeholder="Enter location">
                </div>

            </div>

            <div class="row">

                <div class="col-md-6 mb-3">
                    <label for="owner" class="form-label">
                        <mat-icon>person_outline</mat-icon>
                        Owner
                    </label>
                    <input type="text" class="form-control rounded-pill shadow-sm" id="owner" formControlName="owner"
                        placeholder="Enter owner name">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="usedAs" class="form-label">
                        <mat-icon>info</mat-icon>
                        Used As
                    </label>
                    <select class="form-control rounded-pill shadow-sm" id="usedAs" formControlName="usedAs">
                        <option value="" disabled selected>Select usage type</option>
                        <option value="Shop Only">Shop Only</option>
                        <option value="Godwon Only">Godwon Only</option>
                        <option value="Shop-Cum-Godwon Only">Shop-Cum-Godwon Only</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="periodFrom" class="form-label">
                        <mat-icon>schedule</mat-icon>
                        Period From
                    </label>
                    <input type="date" class="form-control rounded-pill shadow-sm" id="periodFrom"
                        formControlName="periodFrom">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="periodTo" class="form-label">
                        <mat-icon>schedule</mat-icon>
                        Period To
                    </label>
                    <input type="date" class="form-control rounded-pill shadow-sm" id="periodTo"
                        formControlName="periodTo" [attr.disabled]="true">
                </div>
            </div>
            <div class="text-center mb-3">
                <button type="submit" class="btn btn-outline-success rounded-pill shadow-sm">
                    <mat-icon>send</mat-icon>
                    Submit
                </button>
            </div>
        </form>
    </div>
</div>