<div class="container mt-5">
    <div class="card mb-3">
        <div class="card-header">
            <h2>Add Insurance Bill</h2>
        </div>
        <div class="card-body">

            <form (ngSubmit)="addInsuranceBill()">
                <div class="form-group">
                    <label>Bill No:</label>
                    <input type="text" class="form-control" [(ngModel)]="newInsuranceBill.billNo" name="billNo"
                        required>
                </div>
                <div class="form-group">
                    <label>Date:</label>
                    <input type="date" class="form-control" [(ngModel)]="newInsuranceBill.date" name="date" required>
                </div>
                <div class="form-group">
                    <label> Insured:</label>
                    <input type="number" class="form-control" [(ngModel)]="newInsuranceBill.insured" name="insured"
                        required>
                </div>
                <div class="form-group">
                    <label>Sum Insured:</label>
                    <input type="number" class="form-control" [(ngModel)]="newInsuranceBill.sumInsured"
                        name="sumInsured" required>
                </div>
                <div class="form-group">
                    <label>Stock Insured:</label>
                    <input type="text" class="form-control" [(ngModel)]="newInsuranceBill.stockInsured"
                        name="stockInsured" required>
                </div>
                <div class="form-group">
                    <label>Interest Insured:</label>
                    <input type="text" class="form-control" [(ngModel)]="newInsuranceBill.interestInsured"
                        name="interestInsured" required>
                </div>
                <div class="form-group">
                    <label>Situation :</label>
                    <input type="text" class="form-control" [(ngModel)]="newInsuranceBill.situation" name="situation"
                        required>
                </div>
                <div class="form-group">
                    <label>Period :</label>
                    <input type="date" class="form-control" [(ngModel)]="newInsuranceBill.period" name="period"
                        required>
                </div>
                <div class="form-group">
                    <label>Premium :</label>
                    <input type="text" class="form-control" [(ngModel)]="newInsuranceBill.premium" name="premium"
                        required>
                </div>
                <!-- Add form fields for Insured, Situation, Period, and Premium here -->
                <button type="submit" class="btn btn-primary mt-3">Add Bill</button>
            </form>
        </div>
    </div>