<div class="container">
    <h2>Price and Discount Calculator</h2>

    <div>
        <label for="">Unit Price</label>
        <input type="number" class="form-control" id="unitPrice" oninput="gettotalPrice()">
    </div>
    <div>
        <label for="">Quantity</label> <br>
        <input type="number" class="form-control" id="quantity" oninput="gettotalPrice()">
    </div>

    <div>
        <label for="">Discount (%)</label> <br>
        <input type="number" class="form-control" id="discount" oninput="getactualPrice()">
    </div>

    <div>
        <label for="">Total Price</label> <br>
        <input type="number" class="form-control" id="totalPrice" disabled>
    </div>

    <div>
        <label for="">Discount Amount</label> <br>
        <input type="number" class="form-control" id="discountAmount" disabled>
    </div>
    <div>
        <label for="">Actual Price</label> <br>
        <input type="number" class="form-control" id="actualPrice" disabled>
    </div>

</div>


